[user]
	name = Mattis Megevand
	email = megevand.mattis@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
