[user]
	email = megevand.mattis@gmail.com
	name = Mattis Megevand
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
