[init]
	defaultBranch = main
[core]
	editor = nvim
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictStyle = zdiff3
[column]
	ui = auto
[fetch]
	prune = true
	pruneTags = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[help]
	autocorrect = prompt
[include]
	path = ~/.gitconfig.local
